doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://openlayers.org/en/v3.2.0/css/ol.css')
    script(type='text/javascript', src='http://openlayers.org/en/v3.2.0/build/ol.js')
    script(type='text/javascript', src='/javascripts/main.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='http://www.opensnowmap.org/js/OpenLayers-2.13.1/OpenLayers.js')  
  
  body
    #container
        #top_bar
            #top_logo
            #top_nav
                a(href='keystone').nav_item Keystone
                a(href='breck').nav_item Breck
                a(href='vail').nav_item Vail
                a(href='bc').nav_item BC
        #upper_content
            h1= title
        #map.map  	
            #popup.ol-popup
                a#popup-closer.ol-popup-closer
                #popup-content
            

        block content