extends layout

block content	
	div#table-container
		each trail in trails
			div.trail-row
				span.trail-name=trail.trailName 
				span.trail-status=trail.trailStatus
	
	script(type='text/javascript').		
		var resort =!{JSON.stringify(title)};
		
	script(type='text/javascript', src='/javascripts/draw-map.js')
	