extends layout

block content	
	div#table-container 
		table
			each trail in trails
				tr
					td= trail.trailName 
					td= trail.trailStatus
	
	script(type='text/javascript').		
		var resort =!{JSON.stringify(title)};
		
	script(type='text/javascript', src='/javascripts/draw-map.js')
	