extends layout

block content	
	div#table-container.table-responsive
		table.table.table-bordered
			each trail in trails
				tr.trail-row
					td.trail-name=trail.trailName 
					td.trail-status=trail.trailStatus
	
	script(type='text/javascript').		
		var resort =!{JSON.stringify(title)};
		
	script(type='text/javascript', src='/javascripts/draw-map.js')
	