extends layout

block content		
	ul
		each trail in trails
			li
				h4= trail.trailName 
			li
				p= trail.trailStatus
	
	script(type='text/javascript').		
		var resort =!{JSON.stringify(title)};
		
	script(type='text/javascript', src='/javascripts/draw-map.js')
	