body {
	padding: 0 4em 0 4em;
	background: rgba(0, 0, 0, 0.075);
	font-family: arial;
}

#container {
	width: 100%;
	background: white;
	padding-bottom: 1em;
}

#top_bar {
	height: 4em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#top_logo {
}

#top_nav {
	width: 20em;
	float: right;
	margin-top: 2.225em;
}
.nav_item {
	float: left;
	display: table-row;
	padding: 2px 1em 2px 1em;
	text-decoration: none;
	
}

a {
	color: #00B7FF;
}
#upper_content {
	text-align: center;
}
.map {
	height: 400px;
	width: 100%;
}
.ol-popup {
	width: 10.250em;
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 0.415em;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	font-size: 0.825em;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: "✖";
}
#table-container {
	column-count:2;
	-moz-column-count:2;
	-webkit-column-count:2;
	margin: 1em;
	border-collapse: collapse;
}
.table {
	width: 100%;
}
tr.trail-row {
	
	
}
td {
	padding: 1em;
}
.open-trail {
	background-color: rgba(109, 255, 129, 0.07);
}
.closed-trail {
	background-color: rgba(255, 38, 38, 0.05);
}
.trail-name {
	float:left;
	padding-left: 1em;
}
.trail-status {
	float: right;
}